<div class="flex items-center justify-between mb-4">
  <h1 class="text-2xl font-bold flex items-center gap-2">
    <%= lucide_icon("calendar-clock") %> Mon calendrier
  </h1>

  <%= link_to "+ Nouvelle session", new_session_path, class: "bg-asmbv-red hover:bg-asmbv-red-dark text-asmbv-red-light font-semibold rounded-md px-4 py-2 transition" %>
</div>

<% sessions_json = @sessions.map { |s|
  {
    id: s.id,
    title: "#{s.display_name} - #{s.user&.full_name || '-'}",
    start: s.start_at.iso8601,
    end: s.end_at.iso8601,
    url: session_path(s),
    backgroundColor: s.levels.first&.color || '#E60012',
    textColor: '#fff',
    terrain: s.terrain
  }
}.to_json %>

<%= render "terrain_filter" %>

<div
  id="calendar"
  data-controller="calendar"
  data-sessions="<%= json_escape(sessions_json) %>"
  class="h-[100%] bg-white mt-4 p-4">
</div>
