<div class="py-8 px-4 sm:px-6 lg:px-8">
  <h1 class="text-3xl font-bold text-asmbv-red mb-8">Dashboard Administrateur</h1>

  <%= render Admin::DashboardTabsComponent.new(active_tab: @active_tab) do %>
    <%= render "#{@active_tab}_tab" %>
            <% end %>
</div>

