<div class="flex items-center gap-4 mb-4" data-registration-form-target="participant">
  <div class="flex-1">
    <%= render FormFieldComponent.new(
      form: f,
      attribute: :user_id,
      type: :select,
      label: "Participant(s)",
      required: false,
      select_options: { include_blank: false },
      options: options_for_select(
        User.with_enough_credits(session).map { |u| ["#{u.full_name} (#{u.balance&.amount} cr)", u.id] },
        f.object.user_id
      ),
      html_options: { data: { controller: "select", action: "change->registrations-form#checkCredits" } }
    ) %>
  </div>

  <%= f.hidden_field :_destroy %>
  <button type="button"
          class="text-red-600 hover:text-red-800"
          data-action="click->registrations-form#removeParticipant">
    <%= lucide_icon("trash-2", class: "w-5 h-5") %>
  </button>
</div>
