<div class="mb-8">
  <!-- Tab Navigation -->
  <div class="border-b border-gray-200">
    <nav class="-mb-px flex space-x-8" data-controller="tabs">
      <% tabs.each do |tab| %>
        <%= link_to helpers.admin_root_path(tab: tab[:id]), 
            class: tab_classes(tab[:id]),
            data: { 
              action: "click->tabs#switchTab",
              tab: tab[:id]
            } do %>
          <span class="mr-2"><%= tab[:icon] %></span>
          <%= tab[:name] %>
        <% end %>
      <% end %>
    </nav>
  </div>

  <!-- Tab Content -->
  <div class="mt-6">
    <%= content %>
  </div>
</div>
