<div class="max-w-5xl mx-auto">
  <div class="flex items-center justify-between mb-4">
    <h1 class="text-xl font-semibold">Règles d'inscription</h1>
    <%= link_to "Retour", infos_root_path, class: "text-sm text-asmbv-red hover:underline" %>
  </div>

  <p class="text-sm text-gray-600 mb-4">Rappel des règles d’inscriptions aux entraînements :</p>

  <ul class="list-disc list-inside text-sm text-gray-600 mb-4 space-y-2">
    <p>- Limite d’inscription à un entrainement par semaine en avance (afin que tout le monde puisse se positionner sur un entraînement). Une fois la semaine en cours (lundi 8h00), vous pouvez vous inscrire à autant d'entraînement que vous le souhaitez en fonction des places disponibles.</p>
    <p>- Priorité de 24h aux licenciés compétition à la sortie des entraînements, pour les groupes 1 et 2.</p>
    <p>- Désinscription obligatoire avant 12h00 le jour même. Au-delà, le crédit ne sera pas remboursé et il est nécessaire de prévenir l'entraîneur.</p>
    <p>- Un minimum de deux personnes inscrites est nécessaire pour maintenir un entraînement.</p>
  </ul>

</div>
