<!-- Layout pour utilisateurs connectés -->
<div class="min-h-screen"
     <% if user_signed_in? && vapid_public_key.present? %>
     data-controller="push-notifications"
     data-push-notifications-vapid-public-key-value="<%= vapid_public_key %>"
     <% end %>>
  <%= render "layouts/navbar" %>

  <main class="p-4 sm:p-6 lg:p-8 pt-20 lg:pt-8">
    <%= yield %>
  </main>
</div>
