<footer class="bg-white dark:bg-gray-900">
  <div class="mx-auto max-w-7xl px-6 py-12 md:flex md:items-center md:justify-between lg:px-8">
    <div class="flex justify-center gap-x-6 md:order-2">
      <a href="https://www.instagram.com/asmonacobeachvolley/" class="text-gray-600 hover:text-gray-800 dark:text-gray-400 dark:hover:text-white">
        <span class="sr-only">Instagram</span>
        <%= lucide_icon('instagram', class: 'w-6 h-6') %>
      </a>
      <a href="https://chat.whatsapp.com/J05V2o3sPhdAwoPto5DiVo" class="text-gray-600 hover:text-gray-800 dark:text-gray-400 dark:hover:text-white">
        <span class="sr-only">WhatsApp</span>
        <%= lucide_icon('message-circle', class: 'w-6 h-6') %>
      </a>
      <a href="mailto:asm.beachvolley@gmail.com" class="text-gray-600 hover:text-gray-800 dark:text-gray-400 dark:hover:text-white">
        <span class="sr-only">Email</span>
        <%= lucide_icon('mail', class: 'w-6 h-6') %>
      </a>
    </div>
    <p class="mt-8 text-center text-sm/6 text-gray-600 md:order-1 md:mt-0 dark:text-gray-400">&copy; 2024 Your Company, Inc. All rights reserved.</p>
  </div>
</footer>
