<!-- Layout pour utilisateurs non connectés -->
<div class="min-h-screen">
  <%= render "layouts/navbar" %>

  <% if content_for?(:hero) %>
    <%= yield :hero %>
  <% else %>
    <%= render HeroComponent.new(title: default_hero_title) %>
  <% end %>

  <main class="p-4 sm:p-6 lg:p-8">
    <%= yield %>
  </main>
</div>
