<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>

  <body class="bg-asmbv-red-light min-h-screen text-gray-900" data-controller="sidebar">
    <% if user_signed_in? %>
      <%= render "layouts/authenticated_layout" %>
    <% else %>
      <%= render "layouts/public_layout" %>
    <% end %>

    <%= yield :scripts if content_for?(:scripts) %>
  </body>
</html>
